<section class="py-1 row pb-5   ">
        <div class="col-12 d-flex flex-column align-items-center">
            <h1 style="color: #cd7373;" class="mx-auto">Bicycles</h1>
            <hr style="color: wheat" width="250px">
        </div>

        


    </section>
    <hr style="color: wheat">

    <div class="container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4  g-5 ">
            <div class="col ">
                <div class="card  bg-secondary hvr-float myDIV " style="display: block">

                    <div class="card-img-top shadow item"
                        style="height:225px;background-size: 100% 225px;;background-image: url(img/bicycles/1.jpg);">


                        <div class="">
                            <div id="" class="d-flex justify-content-center align-items-center"
                                style="height:100%;width:100%">


                               
                            </div>
                        </div>

                    </div>


                    <div class="card-body p-1 d-flex ">
                        <div class="mx-auto d-inline-flex">
                            <span class="badge bg-dark rounded-pill shadow ">30 ₪ / hr</span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col ">
                <div class="card myDIV bg-secondary hvr-float " style=" display: block;">

                    <div class="card-img-top shadow item"
                        style="height:225px;background-size: 100% 225px;;background-image: url(img/bicycles/2.jpg);">


                        <div class="">
                            <div id="" class="d-flex justify-content-center align-items-center"
                                style="height:100%;width:100%">


                                
                            </div>
                        </div>

                    </div>


                    <div class="card-body p-1 d-flex ">
                        <div class="mx-auto d-inline-flex">
                            <span class="badge bg-dark rounded-pill shadow ">20 ₪ / hr</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
