<!doctype html>
<html lang="en">

<head>

    <title>HOME</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="css/app.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

</head>

<body class="bg-dark">
    <div class="container " style="height: 100%">

        <div class="row my-5">
            <div class="col-12"><a href="admin"><button class="btn btn-outline-light w-100">ADMIN</button></a></div>
            <div class="col-12"><a href="user"><button class="btn btn-outline-light w-100">USER</button></a></div>
            <div class="col-12"><a href="guest"><button class="btn btn-outline-light w-100">GUEST</button></a></div>





        </div>





    </div>



</body>

</html>