<div class="row  rounded bg-light myDIV m-2">
  <div class="col-12 pt-2 mt-2">
    <h1>
      Login
    </h1>
  </div>
  <hr class="shadow mt-3" />
  <div
    class="col-12 mt-5 d-flex flex-column align-items-center justify-content-between"
  >
    <hr class="w-50" />
    <div class="w-50 mb-3">
      <form action="/web/login" method="post">
        <h2>
          Log In ..
        </h2>
        <div class="form-floating mt-5 mb-3">
          <input
            type="email"
            name="email"
            class="form-control"
            id=""
            placeholder="Phone Number"
            value=""
            required
          />
          <label for="floatingInput">
            email
          </label>
        </div>
        <div class="form-floating my-3">
          <input
            type="password"
            name="password"
            class="form-control"
            id=""
            placeholder="Password"
            value=""
            minlength="8"
            required
          />
          <label for="floatingPassword">
            Password
          </label>
        </div>
        <button type="submit" class="btn btn-dark">
          <strong>
            login
          </strong>
        </button>
      </form>
    </div>
  </div>
</div>